h1 {
    padding: 0.5%;
    color: darkblue;
    font-weight: 500;
}

.horizontalRuler {
    background-color: #000000;
    height: 1px;
    width: 100%;
}

.one-third-height {
    height: 30vh;
}

label {
    font-size: 1.8vw;
    font-weight: 500;
    color: darkblue;
}

#itemTemplate{
    cursor: pointer;
}

.moneyBtn {
    width: 20vw;
}

.input_position {
    width: 50%;
    margin: auto;
}

.row-height {
    height: 28%;
}
